COS_API_KEY_ID=your_ibm_cos_api_key_here
COS_INSTANCE_CRN=crn:v1:bluemix:public:cloud-object-storage:global:a/xxx:yyy::
COS_ENDPOINT=https://s3.ap.cloud-object-storage.appdomain.cloud
BUCKET_NAME=aarogyamfirstaid
